@{
	ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<div>
	<h2>О химчистке "DryCleaning" </h2>
	<p>
		Наша компания была основана в 2000 году. За прошедшие 19 лет мы развились от полуподвальной прачечной самообслуживания до разветвленной сети химчисток под брендом DryCleaning.
	</p>
	<h2>Химчистка сегодня</h2>
	<p>В настоящий момент мы готовы предложить нашим клиентам самый современный уровень сервиса.</p>
</div>
