@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<div>
    <h2>О "DryCleaning" Химчистка</h2>
    <p>Химчистка основана в 2017 году. </p>
    <h2>Химчистка сегодня</h2>
    <p>Чтото про будущее</p>

</div>
