
@{
	ViewData["Title"] = "Download";
}
<h2>Download</h2>
<div>
	<p>Здесь вы можнете скачать приложение "DryCleaning", которое поможет вам открыть и управлять  своей собственной химчисткой под брендом "DryCleaning"</p>

	<p>
		<table width="100%">
			<tr>
				<td colspan="2"><h3>Системный требования:</h3></td>
			</tr>
			<tr>
				<td width="50%" style="font-size:18px"><b>Название элемента</b></td>
				<td width="50%" style="font-size:18px"><b>Описание</b></td>
			</tr>
			<tr>
				<td>CPU</td>
				<td>Не менее 2 ядер 2.00 ГГц. 64 бита</td>
			</tr>
			<tr>
				<td>RAM</td>
				<td>Не менее 1 Гб.</td>
			</tr>
			<tr>
				<td>HDD\SSD</td>
				<td>HDD не менее 400 Мб</td>
			</tr>
			<tr>
				<td>Видео адаптер</td>
				<td>Должен иметь минимум 256Мб.</td>
			</tr>
			<tr>
				<td>Сетевая карта</td>
				<td>Любая сетевая карта с разъёмом Ethernet 100 Мб.</td>
			</tr>
			<tr>
				<td>Периферийные устройства </td>
				<td> Устройства ввода и вывода</td>
			</tr>
		</table>
		<br />
		<b>Версия 2.0.0</b>
		<br />
		<a href="/files/DryCleaning_2_0.zip">Скачать zip</a>
		<br />
		<br />
		<b>Версия 1.0.0</b>
		<br />
		<a href="/files/DryCleaning.msi">Скачать msi</a>
	</p>
</div>


