
@{
    ViewData["Title"] = "Download";
}

<h2>Download</h2>
<div>
    <p>Тут можно скачать и установить приложение "DryCleaning" для Windows</p>
	<b>Версия 1.0.0</b>
    <a href="https://localhost:44349/files/Dry_Cleaning_1.0.0.msi">Скачать</a>
</div>

